html{
  font-size: 100%;
}

h1{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: black;
font-size:4rem;
text-align: center;
}

h2{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: white;
font-size: 2rem;
}

body{
  background-color: #868989;
  width: 100%;
}

p{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1rem;
 line-height: 1.35rem;
}

#yellow{
  width: 95%;
  margin:5px;
  background-color: #f2df7e;
  padding: 10px;
}
#gray{
  width: 95%;
  margin:5px;
  background-color: #444646;
  padding: 10px;
}

#container{
  width: 98%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
  width: 100%;
}

#nav{
  padding: 0;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  }

  #nav a:link, a:visited {
    display:block;
    color: white;
    background-color: #444646;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
   }

  #nav a:hover, a:active {
    background-color: #f2df7e;
  }


.donatewrapper{
	position: relative;;
	padding-bottom: 12rem; /* this is another way to express a 16:9 ratio */
  display: block;
	height: 0;
  margin: auto;
  width: 33.3%;

}

.donatewrapper iframe {
	position: absolute;
	top: 0;


}

#width{
  width: 95%;
  margin:5px;
  padding: 10px;
}
