html{
  font-size: 100%;
}

h1{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: black;
font-size:4rem;
text-align: center;
}

h2{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: white;
font-size: 2rem;
}

h3{
  font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
  color: black;
  font-size: 3rem;
}
body{
  background-color: rgba(0,0,0,0.1);
  width: 100%;
}

p{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1.3rem;
 line-height: 1.5rem;
}
/*
#yellow{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin:5px 5px;
  background-color: #f2df7e;
  padding: 10px;
}*/

/*#gray{
  width: 95%;
  margin:5px;
  background-color: #444646;
  padding: 10px;
}*/

#container{
  width: 98%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
  width: 100%;
}

#nav{
  padding: 0;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  }

  .mainmenu a:link {
   padding:35px;
 }

 #nav a:link, a:visited {
   display: block;
   color: white;
   background-color: #444646;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
  }

  #nav a:hover, a:active {
    background-color: #f2df7e;
  }

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.donatewrapper{
	position: relative;;
	padding-bottom: 12rem; /* this is another way to express a 16:9 ratio */
  display: block;
	height: 0;
  margin: auto;
  width: 33.3%;

}

.donatewrapper iframe {
	position: absolute;
	top: 0;


}

.width{
  width: 95%;
  margin:5px;
  padding: 10px;
}

#form-1{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.35rem;
  padding:30px;
  display: flex;
  flex-flow: column wrap;
}

.formwrapper label {
  float:left;
  margin-left: 10px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-color: black;
  font-size: 1.5em;
  width: 100%;

}

.formwrapper input{
  width: 450px;
  height: 50px;
  border: 1px;
  padding: 20px;
  margin: 15px 0;
  border: 2px solid black;
  border-radius: 4px;
}

.formwrapper div{
  margin-bottom: 30px;
}
.btn-style{
  width: 20%;
  height: 40px;
	border: solid 1px #e6e6e6;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	font-size: 20px;
	color: #696869;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

#footer{
  color:black;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: .8rem;
}

.flex-container {
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height:100;
    justify-content: center;
    align-items: center;

}
/*.flex-item {
    max-width: 100%;
    max-height: 100%;
}*/

.link a:link, a:visited{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black;
  font-size: 1rem;
  line-height: 1.35rem;
  text-decoration: none;
}

.link a:hover, a:active{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #f2df7e;
  font-size: 1rem;
  line-height: 1.35rem;
  text-decoration: none;
}

.zoom-image{
  display:inline-block;
  overflow;
  height:100vh;
}

div.img {
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    width:30%;
    height: auto;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#gallery {
  width: 84%;
  height: auto;
  background-color: white;
  border-style: solid;
  margin: auto;
  text-align: center;
}
.ac-container {
  width: 100%;
  margin: 20px auto 40px auto;
  background-color: #444646;
}

.ac-container label{
  font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
  padding: 10px 20px;
  display: block;
  height: 100px;
  cursor: pointer;
  z-index: 20;
  color: white;
  border: 1px white;
  font-size: 2em;
}
.ac-container label:hover{
  background: #444646;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #444646;
  color: white;
}

.ac-container input{
  display: none;
}

.ac-container article{
  background: #444646;
  margin: -1px;
  overflow:hidden;
  height: 0px;
  position: relative;
  z-index: 10;
}

.ac-container article{
  transition:
  height 0.3s ease-in-out;
  box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition:
  height 0.5s ease-in-out,
  box-shadow: 0.1s linear;
}

.ac-container input:checked ~ article.ac-small {
  height: 230px;

}

.ac-small{
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  max-height: 100%;
  margin:5px 5px;
  background-color: #f2df7e;
  padding: 10px;
}

article {
    width: 80%;
    margin: 0 auto;
}

.more-link {
    margin-left: 0.5em;
}

#form-1{
  display: flex;
  flex-flow: column wrap;
}

#logo_container {
  background-color: white;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
