* {
  margin: 0;
}

html{
  font-size: 100%;
}

body{
  background-color: #ebebe0;
  width: 100%;
}


header{
  display: flex;
  flex-flow: row;
  background: #707271;
  margin: 0;
  padding: 0;
  width: inherit;
}

nav ul li{
  list-style: none;
  margin: auto;
  border-top: solid 1px #ebebe0;
}

nav a{
  display: block;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 30px 70px;
  margin: auto;
}

nav a:link, a:visited {
  color: #ebebe0 !important;
  display: block;
  text-decoration: none;
}

.menu-trigger {
  order: 1;
  font-size: 1.8em !important;
  font-style: normal !important;
  line-height: normal !important;
  padding: 25px 20px;
}

header .span_logo{
  order: 2;
  padding: 5px 20px;
}

nav a:hover, a:active {
  background-color: #f2df7e;
  color: #222222 !important;
  font-style: normal !important;
}

nav ul{
  display: none;
}

h1{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: #222222;
font-size:3.3rem;
text-align: center;
padding: 20px 0;
}

h2{
font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
color: #ebebe0;
font-size: 2rem;
}

h3{
  font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
  color: #222222;
  font-size: 3rem;
  margin: 20px;
}

p{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1.2rem;
 line-height: 2rem;
 margin: 10px 10px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.donatewrapper{
	position: relative;;
	padding-bottom: 12rem; /* this is another way to express a 16:9 ratio */
  display: block;
	height: 0;
  margin: auto;
  width: 33.3%;

}

.donatewrapper iframe {
	position: absolute;
	top: 0;


}

.width{
  width: 95%;
  margin:5px;
  padding: 10px;
}

#form-1{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.35rem;
  padding:30px;
  display: flex;
  flex-flow: column wrap;
}

.formwrapper label {
  float:left;
  margin-left: 10px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-color: black;
  font-size: 1.5em;
  width: 100%;

}

.formwrapper input{
  width: 80%;
  max-width: 450px;
  height: 1rem;
  border: 1px;
  padding: 20px;
  margin: 15px 0;
  border: 2px solid black;
  border-radius: 4px;
}


.formwrapper div{
  margin-bottom: 30px;
}
.btn-style{
  /*display: flex;
  flex-flow: row;*/
  width: 20%;
  height: 40px;
	border: solid 1px #e6e6e6;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow: 0px 0px 2px rgba(0,0,0,1.0);
	font-size: 15px;
  text-align: center;
	color: #696869;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

#footer{
  color:black;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: .8rem;
}

.flex-container {
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.flex-item2 {
  align: auto;
}

.link a:link, a:visited{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black;
  font-size: 1rem;
  line-height: 1.35rem;
  text-decoration: none;
}

.link a:hover, a:active{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #f2df7e;
  font-size: 1rem;
  line-height: 1.35rem;
  text-decoration: none;
}

.zoom-image{
  display:inline-block;
  overflow;
  height:100vh;
}

div.img {
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    width:30%;
    height: auto;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.ac-container {
  width: 95%;
  margin: 20px auto 40px auto;
  background-color: #444646;
}

.ac-container label{
  font-family: 'Abril Fatface', Georgia, "Times New Roman", serif;
  padding: 25px;
  text-align: center;
  display: block;
  cursor: pointer;
  z-index: 20;
  color: #ebebe0;
  border-bottom: 1px #ebebe0 solid;
  font-size: 2em;
}

.ac-container label:hover{
  background: rgba(242, 223, 126, 0.9);
  color: #444646;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #444646;
  color: #ebebe0;;
}

.ac-container input{
  display: none;
}

.ac-container article{
  background: #f2df7e;
  margin: -1px;
  overflow:hidden;
  height: 0px;
  position: relative;
  z-index: 10;
}

.ac-container article{
  transition:
  height 0.3s ease-in-out;
  box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition:
  height 0.5s ease-in-out,
  box-shadow: 0.1s linear;
}

.ac-container input:checked ~ article.ac-small {
  height: 500px;

}

.ac-container input:checked ~ article.ac-medium {
  height: 620px;
}

.ac-container input:checked ~ article.ac-large {
height: 510px
}


.more-link {
    margin-left: 0.5em;
}

#form-1{
  display: flex;
  flex-flow: column wrap;
}

#logo_container {
  background-color: white;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

/*.section {
  column-count: 3;
  column-gap: 40px;
  width: 85%;
  margin: auto;
  padding-top: 30px;
}*/

.section1{
   font-weight: bold;
   padding-bottom: 10px;
   border-bottom: solid 0.5px rgba(0, 0, 0, 0.5);

  }

.section1 p{
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.section1 a:link{
  text-decoration: none;
}

#the_greek_list{
  text-decoration: none;
  /*color: #FFB12E;*/
  font-weight: normal;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1rem;
 line-height: 1.2rem;
}

.section2{
     font-style: italic;
     padding-bottom: 10px;
     border-bottom: solid 0.5px rgba(0, 0, 0, 0.5);

    }

.section3{
    padding-bottom: 10px;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.5);
  }

.section4{
     padding-bottom: 10px;
    }

.section3 p, .section4 p{
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  line-height: 1.2rem;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.slideshow-container img{
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  background-color: rgba(112,114,113,0.4);
  color: #ebebe0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 20px auto;
  padding: 15px 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*=============puppies page slideshow ends here
===========================
*/

.puppies-subpage-link {
  padding: 30px;
  margin:auto;
  width:80%;
  display: flex;
  flex-flow: column;
}

.puppiessubpage {
  display: flex;
  flex-flow: nowrap row;
  padding: 15px;
}

.puppiessubpage h2{
  padding: 20px;
}

.puppiessubpage a:visited, a:link{
  text-decoration: none;
  color: #222222 !important;
}

.puppiessubpage a:active, a:hover{
  opacity: 0.8;
  background: none;
  color: rgba(242,223,126) !important;
}

.social-wrapper {
    display: flex;
    margin-right: 30px;
}


.ac-container label{
  border: none;
  font-size: 2em;
}

.ac-container input:checked ~ article.ac-small {
  height: 100%;

}

.ac-container input:checked ~ article.ac-medium {
  height: 100%;
}

.ac-container input:checked ~ article.ac-large {
height: 100%;
}

@media screen and (min-width:799px){

  .menu-trigger{
    display: none !important;
  }

  nav ul{
    display: flex;
  }

  nav ul li{
    border-top: none;
  }

  nav a{
    font-size: 1.3em !important;
    padding: 30px 20px;
    border: none !important;
  }

  header .span_logo{
    order: 1;
    flex: 1;
    padding: 5px 30px;
  }

  nav{
    order: 2;
    flex: 6;
  }

h1{
  font-size: 4rem;
}

p{
  font-size: 1.2rem;
   line-height: 1.6rem;
}

/*.ac-container label{
  border: none;
  font-size: 2em;
}

.ac-container input:checked ~ article.ac-small {
  height: 100%;

}

.ac-container input:checked ~ article.ac-medium {
  height: 100%;
}

.ac-container input:checked ~ article.ac-large {
height: 100%;
}*/

.width {
  width: 85%;
  margin: auto;
}
.puppies-subpage-link{
  display: flex;
  flex-flow: nowrap row;
  width:55%;
  margin:auto;
}

.puppiessubpage{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section {
  display: block;
  column-count: 3;
  width: 85%;
  margin: auto;
  padding-top: 30px;
}
}

#calendar {
    width: 100%;
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #f2df7e;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
}
